/* reset básico para todos os tipos de navegadores*/
* {
    margin: 100;
    padding: 00;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* conteiner */
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    font-family: Arial;
    font-size: 16px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.1);
}
    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
    }

/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 25px;
    padding-right: 35px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    /* tres colunas */
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
        }
    }

    /* tres colunas */
    @media (min-width: 728px) {
        .col-4 {
            width: 28%;
        }
    }

/* Colunas */

.lay1 {
    background: #fff;
    padding: 25px;
    text-align: center;
    margin: 2px 0;
    color:grey;  
}

.lay2 {
    padding: 5px;
    margin: 2px 0;
    color:grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #fff;
    height: 33px;
}

.lay3 {
  
    background: #fff;
    padding: 15px;
    text-align: right;
    margin: 12px 0;
    word-spacing: 30px;
    
    
}

/* Buscar */

#divBusca{
  background-color:#E0EEEE;
  border:solid 2px #5F9EA0;
  border-radius:10px;
  width:300px;
  height:32px;
  
}
 
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:7px; 
  font-size:12px;
  border:none;
  height:30px;
  width:190px;
}
 
#btnBusca{
  border:none;
  float:left;
  height:29px;
  border-radius:0 7px 7px 0;
  width:105px;
  font-weight:bold;
  background:#5F9EA0;
  font-size:16px;
}
 
.div div nav{
    float:left;
    padding: -145px;
    margin-left:    5px;
}
